
@{
    ViewBag.Title = "Tuotteiden myynti";
}

<script ssrc="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.1/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@section scripts{
    <script type="text/javascript">
        let labelTexts = [@Html.Raw(ViewBag.tuoteNimi)];
        let dataValues = [@ViewBag.tuoteProductSales];
        var ctx = document.getElementById('barcanvas1');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelTexts,
                datasets: [{
                    label: 'Myynti numeroina',
                    data: dataValues,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <script type="text/javascript">

        let labelTexts1 = [@Html.Raw(ViewBag.viikonPaiva)];

        let dataValues1 = [@ViewBag.kappaleMaara];

        var ctx = document.getElementById('vkpvmtilaukset').getContext('2d');

        var myChart = new Chart(ctx, {

            type: 'bar',

            data: {

                labels: labelTexts1,

                datasets: [{

                    label: 'Tuotteiden Tilaukset Viikonpäivinä',

                    data: dataValues1,

                    backgroundColor: [

                        'rgba(255, 99,132,0.7)',

                        'rgba(54, 162,235,0.7)',

                        'rgba(255, 206,86,0.7)',

                        'rgba(75, 192,199,0.7)',

                        'rgba(153, 99,255,0.7)',

                        'rgba(255, 102,255,0.7)',

                        'rgba(1, 99,222,0.7)'

                    ],

                    borderColor: [

                        'rgba(255, 99,132,1)',

                        'rgba(54, 162,235,1)',

                        'rgba(255, 206,86,1)',

                        'rgba(75, 192,199,1)',

                        'rgba(153, 99,255,1)',

                        'rgba(255, 102,255,1)',

                        'rgba(1, 99,222,1)'

                    ],

                    borderWidth: 1

                }]

            },

            options: {

                scales: {

                    yAxes: [{

                        ticks: {

                            beginAtZero: true

                        }

                    }]

                }

            }

        });

    </script>

}
<h2> Tuotteiden myynti</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <canvas id="barcanvas1"></canvas>
            @*<canvas id="vkpvmtilaukset"></canvas>*@
        </div>
    </div>
</div>
@*<body>
        <h2>Päiväkohtainen myynti(DATA EI NÄY)</h2>
        <canvas id="vkpvmtilaukset" width="400" height="200"></canvas>


</body>*@

