
@{
    ViewBag.Title = "Tuotteiden myynti";
}

<script ssrc="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.1/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@section scripts{
    <script type="text/javascript">
        let labelTexts = [@Html.Raw(ViewBag.tuoteNimi)];
        let dataValues = [@ViewBag.tuoteProductSales];
        var ctx = document.getElementById('barcanvas');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelTexts,
                datasets: [{
                    label: 'Myynti numeroina',
                    data: dataValues,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
    <script type="text/javascript">

        let dataValju = []
        var ctx = document.getElementById('myChartti');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Maanantai', 'Tiistai', 'Keskiviikko', 'Torstai', 'Perjantai', 'LA/SU'],
                datasets: [{
                    label: 'Tilauksia per viikonpäivä',
                    data: [1, 2, 0, 2, 1, 2],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>


}
<h2>Tuotteiden myynti</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <canvas id="barcanvas"></canvas>
            <canvas id="myChartti"></canvas>
        </div>
    </div>
</div>
