
@{
    ViewBag.Title = "Tuotteiden myynti";
}

<script ssrc="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.1/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@section scripts{
    <script type="text/javascript">
        let labelTexts = [@Html.Raw(ViewBag.tuoteNimi)];
        let dataValues = [@ViewBag.tuoteProductSales];
        var ctx = document.getElementById('barcanvas1');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelTexts,
                datasets: [{
                    label: 'Myynti numeroina',
                    data: dataValues,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
    <script>
    $(document).ready(function() {
        // Tee Ajax-kutsu JSON-datan hakemiseksi
        $.ajax({
            url: '@Url.Action("GetSalesData", "Statistics")', // kutsu kontrolloijan JSON-toimintoa
            method: 'GET',
            success: function (data) {
                // Määritä kaavio, jossa käytetään JSON-datasta saatuja arvoja
                let datavalues2 = data.map(d => d.Tilauspvm);
                let dataValues1 = data.map(d => d.Nimi);
                var ctx = document.getElementById('salesChart')/*.getContext('2d')*/;
                var salesChart = new Chart(ctx, {
                    type: 'bar', // Kaavion tyyppi, esim. 'line', 'bar', 'pie'
                    data: {
                        labels: data.map(d => d.Tilauspvm), // Kuukausinimet JSON-datasta
                        datasets: [{
                            label: 'Myynti MA-PE',
                            data: dataValues1, // Nimiarvot JSON-datasta pitäs antaa
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function() {
                alert("Dataa ei voitu hakea");
            }
        });
    });
    </script>
    @*<script type="text/javascript">

            let dataValju = Tilauspvm,
            var ctx = document.getElementById('myChartti');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Maanantai', 'Tiistai', 'Keskiviikko', 'Torstai', 'Perjantai', 'LA/SU'],
                    datasets: [{
                        label: 'Tilauksia per viikonpäivä',
                        data: [1, 2, 0, 2, 1, 2],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        </script>*@
    @*<script type="text/javascript">

            //Klikkauksen kuuntelija

            //Tuotteen myynti -kaavion

            $(function () {

                $(".getTuoteNimi").click(function () {

                    let tuoteNimi = $(this).data("tuotenimi");

                    drawLineChart(tuoteNimi);

                })

            });
        </script>
        <script type="text/javascript">

            //Datan haku kontrollerista

            function drawLineChart(tuoteNimi) {

                let url = "/Statistics/_ProductSalesPerDate/?tuoteNimi=" + tuoteNimi;

                var jsonData = $.ajax({

                    url: url,

                    dataType: 'json',

                }).done(function (results) {

                    console.log(results);

                //    //Split timestamp and data into separate arrays

                //    var salesLabels = [], salesData = [];

                //    for (let i = 0; i < results.length; i++) {

                //        salesData.push(results[i].salesData);

                //        salesLabels.push(results[i].tuoteNimi);

                //    }

                //    renderChart(salesData, salesLabels, tuoteNimi);

                //});

            }



            //Chartin piirto ja modaali-ikkunan kutsu

            //function renderChart(dataValues, labelTexts, tuoteNimi) {

            //    var ctx = document.getElementById('barcanvas').getContext('2d');

            //    var barcanvas = new Chart(ctx, {

            //        type: 'line',

            //        data: {

            //            labels: labelTexts,

            //            datasets: [{

            //                label: 'Daily product sales for ' + tuoteNimi,

            //                data: dataValues,

            //                backgroundColor: [

            //                    'rgba(255, 99, 232, 0.2)'

            //                ],

            //                borderColor: [

            //                    'rgba(255, 99, 132, 1)'

            //                ],

            //                borderWidth: 2

            //            }]

            //        },

            //        options: {

            //            scales: {

            //                yAxes: [{

            //                    ticks: {

            //                        beginAtZero: true,

            //                        stepSize: 100

            //                    }

            //                }]

            //            }

            //        }

            //    });

                //$('#ProductSalesPerDateModal').modal('show');

            //}



        </script>*@

}
<h2> Tuotteiden myynti</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <canvas id="barcanvas1"></canvas>
            <canvas id="barcanvas"></canvas>
            @*<button class="btn-dark getTuoteNimi" style="border-radius: 4px;" data-tuotenimi=""></button>*@

        </div>
    </div>
</div>
<body>
    <h2>Päiväkohtainen myynti</h2>
    <canvas id="salesChart" width="400" height="200"></canvas>


</body>

